.layer-image-preview {
  padding-bottom: 20px;
  text-align: center;
}
.infinite-scroll-component__outerdiv {
  max-width: 1200px;
  margin: 0 auto;
}
.infinite-scroll-component {
  overflow-x: hidden !important;
}
.infinite-scroll-component::-webkit-scrollbar {
  width: 0;
}
.explorer-simple-card-trait-div {
  padding-right: 5px;
  display: flex;
  margin: 8px 0;
  /* position: relative; */
}
.explorer-simple-card-trait-name {
  background-color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  text-overflow: ellipsis;
}
.explorer-simple-card-trait-div:hover .explorer-simple-card-trait-name {
  display: block;
  cursor: pointer;
}
/* .explorer-simple-card-trait-name {
  display: none;
  background-color: #6d6c6c;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  z-index: 22222222222;
  padding: 10px 0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  height: 100%;
  line-height: 15px;
} */
.explorer-simple-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}
.explorer-dark .explorer-simple-card-trait-container {
  background: linear-gradient(rgb(20, 33, 46), rgb(14, 25, 36));
}
.explorer-simple-card-trait-container {
  padding: 10px;
  background: linear-gradient(rgb(20, 33, 46), rgb(14, 25, 36));
}
.explorer-simple-card-trait {
  max-width: 24px;
}
.explorer-simple-card-img-trait {
  position: relative;
  display: flex;
  z-index: 333333333;
}
.explorer-simple-card-trait-toggler {
  position: relative;
  background-color: #fff9f9db;
  /* padding: 10px 15px; */
  height: 35px;
  max-width: 30px;
  border-radius: 5px;
}
.explorer-simple-card-trait-icon-container {
  background-color: #000000db;
  padding: 3px;
  border-radius: 5px;
}
.explorer-simple-card-trait-count {
  position: absolute;
  bottom: -5px;
  right: -5px;
  color: #fff;
  font-weight: 600;
  background-color: red;
  border-radius: 100%;
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-align: center;
}
.explorer-simple-card-trait-count div {
  /* position: absolute; */
  left: 0;
  right: 0;
  margin: auto;
}
.explorer-simple-card-shown {
  opacity: 1;
  transition: all 0.3s;
}
.explorer-simple-card-hided {
  opacity: 0;
  transition: all 0.3s;
}
.explorer-simple-card-opensea-etherscan {
  padding-top: 10px;
  display: flex;
  gap: 5px;
}
.explorer-simple-card-traits {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  min-height: 30px;
}
.dust-pool-root {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-family: poppins;
}
.dust-pool-textbox {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.pool-subtitle {
  font-size: 30px;
  font-weight: 600;
}
.tab-choose {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.tab-choose div {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 15px;
}
.tab-choose div:hover {
  cursor: pointer;
}
.tab-choose .active-tab {
  background-color: #000;
  color: #fff;
}
.tab-choose div:first-child {
  border: 2px solid #000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tab-choose div:nth-child(2) {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.tab-choose div:nth-child(3) {
  border: 2px solid #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*classes from bootstrap*/
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-12,
.col-lg-6,
.col-lg-3,
.col-lg-4,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.pb-4 {
  padding-bottom: 1.5rem !important;
}
.w-100 {
  width: 100% !important;
}
.text-right {
  text-align: right !important;
}
.dust-pool-card p {
  margin-block-start: 0;
}
.section-divider-img {
  max-height: 35px;
  z-index: 2;
}
.h-50vh {
  height: 50vh !important;
}
@media only screen and (max-width: 500px) {
  .section-divider-img {
    max-height: 25px;
    z-index: 2;
  }
}
@media only screen and (max-width: 450px) {
  .explorer-simple-card-trait {
    max-width: 20px;
  }
  .explorer-simple-card-trait-toggler {
    height: 31px;
    max-width: 25px;
  }
  .explorer-simple-card-trait-div {
    margin: 6px 0;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 600px) {
  .dust-pool-card .dust-pool-btn {
    position: unset !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1000px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 650px) {
  .col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 945px) {
  .dust-pool-root {
    max-width: 100%;
  }
}
